{% load static %}
<nav class="navbar-box">
    <div class="navbar">
        <div class="navbar-div">
            <a href="/" class="navbar-button">Navbar Button 1</a>
        </div>
            <div class="navbar-div">
            <a href="/" class="navbar-link"><img src="{% static '/images/template-icon.png' %}" alt="Template Icon"  class="navbar-photo"></a>
        </div>
        <div class="navbar-div">
            <a href="/" class="navbar-button">Navbar Button 2</a>
            <a href="/" class="navbar-button">Navbar Button 3</a>
        </div>
    </div>
</nav>