:root{
  --background-color-dark-mode: #000000;
  --text-color-dark-mode: #ffffff;
  --secondary-color-dark-mode: #8c2ffd;
  --tertiary-color-dark-mode: #ff8c00;
  --quaternary-color-dark-mode: #ff0000;
}